.container {
    padding: 20px;
    margin: 5px;
}

.head {
    background-color: beige;
}

.menu {
    background-color: beige;
}

.obsah {
    background-color: beige;
}

.sidebar {
    background-color: beige;
}

.patiÄka {
    background-color: greenyellow;
}