.container {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 10px;

}

.head {
    background-color: palegoldenrod;
    grid-column: 1/5;
}

.menu {
    background-color: palegreen;
}

.obsah {
    display: grid;
    background-color: paleturquoise;
    grid-template-columns: 150px 1fr 150px;
}

.obsah-další {
    background-color: lightpink;
    grid-template-columns: 150px 1fr 150px;
}

.sidebar {
    background-color: palevioletred;
}

.patička {
    background-color: aqua;
    grid-column: 1/5;
}